body {
	background: #000;
}
.green{
	background: green;
	color: red;
}
#yellow{
	background: blue;

}
.menu {
	background: yellow;
	float: right;
	width: 100%;
}
.menu a {
	float: left;
	background: #fff;
	padding: 10px 5px;
	margin: 10px 5px;
	text-decoration: none;
	color: #333333;
	font-family: "Arial Black", sans-serif;

}
.menu a.active{
	background: green;
}